#!/usr/bin/python

from slackclient import SlackClient
from Adafruit_IO import Client
import sys, time, traceback

slack_token = "{{ lookup('env', 'SLACK_TOKEN') }}"
ada_token   = "{{ lookup('env', 'ADA_TOKEN') }}"

while True:
  try:
    aio = Client(ada_token)
    sc = SlackClient(slack_token)

    if sc.rtm_connect():
      while True:
        msgs = sc.rtm_read()
        for msg in msgs:
          print msg
          if u'type' in msg and msg[u'type'] == u'message' and u'text' in msg:
            m = msg[u'text'].encode('ascii', 'ignore')
            print 'Sending: ' + m
            aio.send('strangerthings', m)
        time.sleep(1)
    else:
      print 'Connected failed... sleeping for 5 seconds'
      time.sleep(5)
  except Exception as e:
    print traceback.format_exc()
    time.sleep(10)
